@import '../core/colors';

.content {
	padding-block: 24px;
	display: grid;
	grid-template-columns: 50% 50%;
	.content__image--start {
		margin-block: auto;
		margin-inline-end: 0;
		margin-inline-start: auto;
		width: 100%;
	}
	.content__text--end {
		margin: auto;
		padding: 64px;
		& > * {
			padding-block-end: 16px;
		}
	}
	.content__text--brand {
		color: $brandPrimary;
	}
	.content__text--icon {
		background-color: $brandPrimary;
		color: $white;
		border-radius: 3px;
		padding-block-start: 8px;
		padding-inline-start: 6px;
		padding-inline-end: 2px;
		margin-inline-end: 4px;
	}
	.content__image--end {
		margin-block: auto;
		margin-inline-start: 0;
		margin-inline-end: auto;
		width: 100%;
	}
	.content__text--start {
		margin: auto;
		padding-inline-end: 80px;
		& > * {
			padding-block-end: 16px;
		}
	}
}
