.banner {
  margin-block: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff0ff;
  border-radius: 20px;
  padding-inline: 48px;
}

.banner .banner__text > h4 {
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
}

.carousel > * {
  -webkit-padding-after: 24px;
          padding-block-end: 24px;
}

.carousel .carousel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel .carousel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: wrap;
}

.carousel .carousel__article {
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
}

.carousel .carousel__article .carousel__article--image {
  border-radius: 20px;
}

.carousel .carousel__article h4,
.carousel .carousel__article h6 {
  margin-block: 12px;
}

.collection .collection__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection .collection__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: wrap;
}

.collection .collection__card {
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
  background-color: #fff8f2;
  border-radius: 20px;
  padding: 16px;
}

.footer .footer__header,
.footer .footer__pagelinks {
  padding-inline: 60px;
}

.footer .footer__header > *,
.footer .footer__pagelinks > * {
  -webkit-margin-after: 32px;
          margin-block-end: 32px;
}

.footer .footer__pagelinks--list {
  list-style-type: none;
  -webkit-columns: 4;
          columns: 4;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding: 0;
}

.footer .footer__pagelinks--item {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

.footer .footer__logos {
  padding-inline: 24px;
  -webkit-margin-before: 64px;
          margin-block-start: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link {
  text-decoration: none;
  padding-block: 4px;
}

.link:hover {
  text-decoration: underline;
}

.link:disabled {
  color: #999999;
}

.link__brand {
  color: #004fc9;
}

.link__brand:focus {
  outline: 2px solid #004fc9;
  border-radius: 1px;
}

.link__white {
  color: #fff;
}

.link__white:focus {
  outline: 2px solid #fff;
  border-radius: 1px;
}

.container {
  padding-inline: 60px;
}

.container > * {
  -webkit-margin-after: 64px;
          margin-block-end: 64px;
}

@media screen and (min-width: 576px) {
  .container > * {
    -webkit-margin-after: 80px;
            margin-block-end: 80px;
  }
}

@media screen and (min-width: 768px) {
  .container > * {
    -webkit-margin-after: 128px;
            margin-block-end: 128px;
  }
}

.navigation__primary {
  padding-inline: 24px;
  background-color: #000;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__primary .navigation__primary--list {
  list-style-type: none;
}

.navigation__primary .navigation__primary--item {
  display: inline-block;
  text-align: center;
  padding-block: 12px;
  -webkit-padding-start: 12px;
          padding-inline-start: 12px;
}

.navigation__secondary {
  padding-inline: 24px;
  padding-block: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__secondary .link {
  color: #000;
}

.navigation__secondary .navigation__secondary--list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.navigation__secondary .navigation__secondary--item {
  display: inline-block;
  -webkit-padding-end: 12px;
          padding-inline-end: 12px;
}

.navigation__tertiary {
  padding-inline: 24px;
  padding-block: 24px;
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__tertiary .link {
  color: #000;
}

.navigation__tertiary .navigation__tertiary--list {
  list-style-type: none;
}

.navigation__tertiary .navigation__tertiary--item {
  display: inline-block;
}

.content {
  padding-block: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.content .content__image--start {
  margin-block: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  width: 100%;
}

.content .content__text--end {
  margin: auto;
  padding: 64px;
}

.content .content__text--end > * {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

.content .content__text--brand {
  color: #ff4203;
}

.content .content__text--icon {
  background-color: #ff4203;
  color: #fff;
  border-radius: 3px;
  -webkit-padding-before: 8px;
          padding-block-start: 8px;
  -webkit-padding-start: 6px;
          padding-inline-start: 6px;
  -webkit-padding-end: 2px;
          padding-inline-end: 2px;
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}

.content .content__image--end {
  margin-block: auto;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  width: 100%;
}

.content .content__text--start {
  margin: auto;
  -webkit-padding-end: 80px;
          padding-inline-end: 80px;
}

.content .content__text--start > * {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

.hero {
  -webkit-padding-after: 24px;
          padding-block-end: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.hero .hero__text {
  margin: auto;
  -webkit-margin-end: 64px;
          margin-inline-end: 64px;
}

.hero .hero__text > * {
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
}

.hero .hero__figure {
  background: linear-gradient(45deg, #ff4203, #ff9900);
  margin: 0;
}

.hero .hero__figure--image {
  margin-block: auto;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  padding-block: 24px;
  -webkit-padding-end: 24px;
          padding-inline-end: 24px;
  width: 80%;
}

.hero__text--nav {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__text--nav .hero__text--nav-list {
  list-style-type: none;
  padding: 0px;
}

.hero__text--nav .hero__text--nav-item {
  display: inline-block;
}

.uptodate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.uptodate .uptodate__action > p {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

p,
.button,
.input {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  font-weight: 'bold';
}

h1 {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h6 {
    font-size: 20px;
  }
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sm {
    font-size: 16px;
  }
}

.md {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .md {
    font-size: 20px;
  }
}

.lg {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .lg {
    font-size: 24px;
  }
}

.slideshow {
  margin-top: 40px;
  position: relative;
  padding-top: 500px;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

.slideshow *::-webkit-scrollbar {
  width: 0;
}

.slideshow *::-webkit-scrollbar-track {
  background: transparent;
}

.slideshow *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.slideshow * {
  -ms-overflow-style: none;
}

.slideshow ol,
.slideshow li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow .slideshow__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.slideshow .slideshow__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.slideshow .slideshow__article {
  margin: auto;
}

.slideshow .slideshow__article > * {
  -webkit-padding-after: 24px;
          padding-block-end: 24px;
}

.slideshow .slideshow__article--image {
  -webkit-margin-before: 100px;
          margin-block-start: 100px;
  border-radius: 20px;
}

.slideshow .slideshow__article--text {
  max-inline-size: 400px;
}

.slideshow .slideshow__article--text > * {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

.slideshow .slideshow__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  overflow: hidden;
}

.slideshow .slideshow__previous,
.slideshow .slideshow__next {
  color: white;
  font-weight: bold;
  margin: auto;
}

.slideshow .slideshow__navigation--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  background-color: #4d4d4d;
  width: 4rem;
  height: 4rem;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

p,
.button,
.input {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  font-weight: 'bold';
}

h1 {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h6 {
    font-size: 20px;
  }
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sm {
    font-size: 16px;
  }
}

.md {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .md {
    font-size: 20px;
  }
}

.lg {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .lg {
    font-size: 24px;
  }
}

.button {
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: 8px;
  border: 2px solid #004fc9;
}

.button__brand {
  background-color: #004fc9;
  color: #fff;
}

.button__brand:enabled:hover {
  background-color: #fff;
  color: #004fc9;
  border-color: #fff;
  outline: 1px solid #004fc9;
}

.button__brand:enabled:focus {
  outline: 2px solid #004fc9;
  border: 2px solid #fff;
}

.button__brand:disabled {
  background-color: #e6e6e6;
  color: #4d4d4d;
  border-color: #e6e6e6;
}

.button__form {
  border-radius: 0px 8px 8px 0px;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../fonts/SourceSansPro-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

p,
.button,
.input {
  font-family: "Source Sans Pro";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  font-weight: 'bold';
}

h1 {
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 56px;
  }
}

h2 {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 40px;
  }
}

h4 {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  h4 {
    font-size: 32px;
  }
}

h5 {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h6 {
    font-size: 20px;
  }
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .sm {
    font-size: 16px;
  }
}

.md {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .md {
    font-size: 20px;
  }
}

.lg {
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .lg {
    font-size: 24px;
  }
}

.input {
  padding-inline: 16px;
  padding-block: 12px;
  border-radius: 8px 0px 0px 8px;
  border: 2px solid #e6e6e6;
  outline: 2px solid #e6e6e6;
  background-color: #e6e6e6;
  inline-size: 350px;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */