@import '../core/colors';

.collection {
	.collection__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.collection__wrapper {
		display: flex;
	}
	.collection__card {
		margin-inline-end: 12px;
		background-color: $backgroundBrandPrimary;
		border-radius: 20px;
		padding: 16px;
	}
}
