@import '../core/colors';

@keyframes tonext {
	75% {
		left: 0;
	}
	95% {
		left: 100%;
	}
	98% {
		left: 100%;
	}
	99% {
		left: 0;
	}
}

@keyframes tostart {
	75% {
		left: 0;
	}
	95% {
		left: -300%;
	}
	98% {
		left: -300%;
	}
	99% {
		left: 0;
	}
}

@keyframes snap {
	96% {
		scroll-snap-align: center;
	}
	97% {
		scroll-snap-align: none;
	}
	99% {
		scroll-snap-align: none;
	}
	100% {
		scroll-snap-align: center;
	}
}

.slideshow {
	*::-webkit-scrollbar {
		width: 0;
	}
	*::-webkit-scrollbar-track {
		background: transparent;
	}
	*::-webkit-scrollbar-thumb {
		background: transparent;
		border: none;
	}
	* {
		-ms-overflow-style: none;
	}
	margin-top: 40px;
	position: relative;
	padding-top: 500px;
	perspective: 100px;
	box-sizing: border-box;
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
	ol,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.slideshow__viewport {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		overflow-x: scroll;
		counter-reset: item;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
	}
	.slideshow__slide {
		position: relative;
		flex: 0 0 100%;
		width: 100%;
		counter-increment: item;
	}
	.slideshow__slide:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -40%, 70px);
		color: #fff;
		font-size: 2em;
	}
	.slideshow__article {
		max-inline-size: 400px;
		margin: auto;
	}
	.slideshow__article--image {
		border-radius: 20px;
	}
	.slideshow__navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		scroll-snap-align: center;
		overflow: hidden;
	}
	.slideshow__previous,
	.slideshow__next {
		color: white;
		font-weight: bold;
		margin: auto;
	}
	.slideshow__navigation--circle {
		display: flex;
		justify-content: center;
		border-radius: 100%;
		background-color: $grey-800;
		width: 4rem;
		height: 4rem;
	}
}
